<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Emilia</title>

    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/kit.css">

</head>

<body>
    {{> nav}}

    <section class="contenido">
        <article class="contenido__joyeria" style="background-image: url('./image/Group61.png');">
            <div id="item1a"  class="contenido__joyeria__aretes">
                <img src="/image/gris.jpg" srcset="" class="contenido__joyeria__aretes__img">
            </div>
            <div id="item2a" class="contenido__joyeria__collares">
                <img src="/image/gris.jpg" srcset="" class="contenido__joyeria__collares__img">
            </div>
            <div id="item3a" class="contenido__joyeria__pulseras">
                <img src="/image/gris.jpg" srcset="" class="contenido__joyeria__pulseras__img">

            </div>
            <div id="item4a" class="contenido__joyeria__anillos">
                <img src="/image/gris.jpg" srcset="" class="contenido__joyeria__anillos__img">

            </div>
        </article>

        <article class="contenido__joyas">
            <div class="contenido__joyas__items">
                <div id="item1" class="contenido__joyas__items__item-1">
                    <img  class="contenido__joyas__items__item-1-img" src="./image/fotosKit/a2/anillo1.png" alt="Imagen" srcset="">
                </div>

                <div id="item1" class="contenido__joyas__items__item-2">
                    <img  class="contenido__joyas__items__item-2-img" src="./image/fotosKit/a2/anillo2.png" alt="Imagen" srcset="">
                </div>

                <div id="item1" class="contenido__joyas__items__item-3">
                    <img  class="contenido__joyas__items__item-3-img" src="./image/fotosKit/a2/anillo3.png" alt="Imagen" srcset="">
                </div>

                <div id="item2" class="contenido__joyas__items__item-4">
                    <img  class="contenido__joyas__items__item-4-img" src="./image/fotosKit/a2/arete1.png" alt="Imagen" srcset="">
                </div>

                <div id="item2" class="contenido__joyas__items__item-5">
                    <img  class="contenido__joyas__items__item-5-img" src="./image/fotosKit/a2/arete2.png" alt="Imagen" srcset="">
                </div>

                <div id="item2" class="contenido__joyas__items__item-6">
                    <img  class="contenido__joyas__items__item-6-img" src="./image/fotosKit/a2/arete3.png" alt="Imagen" srcset="">
                </div>

                <div id="item3" class="contenido__joyas__items__item-7">
                    <img   class="contenido__joyas__items__item-7-img" src="./image/fotosKit/a2/collar1.png" alt="Imagen" srcset="">
                </div>

                <div id="item3" class="contenido__joyas__items__item-8">
                    <img  class="contenido__joyas__items__item-8-img" src="./image/fotosKit/a2/collar2.png" alt="Imagen" srcset="">
                </div>

                <div id="item3" class="contenido__joyas__items__item-9">
                    <img  class="contenido__joyas__items__item-9-img" src="./image/fotosKit/a2/collar3.png" alt="Imagen" srcset="">
                </div>

                <div id="item4" class="contenido__joyas__items__item-10">
                    <img  class="contenido__joyas__items__item-10-img" src="./image/fotosKit/a2/pulsera1.png" alt="Imagen" srcset="">
                </div>

                <div id="item4" class="contenido__joyas__items__item-11">
                    <img  class="contenido__joyas__items__item-11-img" src="./image/fotosKit/a2/pulsera2.png" alt="Imagen" srcset="">
                </div>

                <div id="item4" class="contenido__joyas__items__item-12">
                    <img  class="contenido__joyas__items__item-12-img" src="./image/fotosKit/a2/pulsera3.png" alt="Imagen" srcset="">
                </div>
            </div>

            <button class="contenido__joyas__btn">Cambiar Estilos</button>
        </article>
    </section>
    {{> foot}}
     <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenLite.min.js"></script>
        <script src="./scripts/animation.js"></script>
    <script src="./scripts/interaccionjoyeria.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
     
  

</body>

</html>