

.contenido {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;

    &__joyeria {
        width: 300px;
        height: 650px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;

        &__aretes, &__collares, &__pulseras, &__anillos{
            width: 150px;
            height: 150px;
}


            img{
                width: 100%;
            }
        }
    }

    &__joyas {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        &__items{
            width: 500px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: center;
            align-items: center;

            div{
                width: 150px;
                height: 150px;
                cursor: pointer;
                margin-bottom: 15px;
                
                img{
                    filter: saturate(0);
                    width: 100%;
                    transition: all .4s;
                }

                img:hover{
                    filter: saturate(1);
                }
            }
        }

        &__btn{
            width: 97%;
            background: #DCC2BA;
            border: none;
            color: white;
            padding: 10px 0;
            cursor: pointer;
        }
    }
}